{% include "retailstore/base.html" %} 
{% load static %} 
{%block content%}

<style>
  body {
    background-color: grey;
  }
</style>

<body>
  <br />
  <br />

  <div class="container bg-white shadow-sm p-5 form-layout">
    <div class="text-center">
        <i class="fa fa-check fa-3x text-success " aria-hidden="true"></i>
    </div>
    <br />
    <h4><strong>Your Account is now active!</strong></h4>
    <hr />
    <p>Please proceed to login.</p>
    <a href="{% url 'my-login' %}" class="btn btn-primary my-2"> Login </a>
  </div>
  <br />
  <br />
</body>

{% endblock %}
