{% include "retailstore/base.html" %} 
{% load static %} 
{%block content%}

<style>
  body {
    background-color: grey;
  }
</style>

<body>
  <br />
  <br />

  <div class="container bg-white shadow-sm p-5 form-layout">
    <div class="text-center">
        <i class="fa-sharp fa-solid fa-envelope"></i>
    </div>
    <br />
    <h4><strong>The verification link was sent to your email!</strong></h4>
    <hr />
    <p>Kindly check your inbox.</p>
  </div>
  <br />
  <br />
</body>

{% endblock %}
